<h1><%= @note.id ? 'Edit a Note' : 'Create a New Note' %></h1>

<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>

<p><%= link_to 'Cancel', notes_path %></p>